<!DOCTYPE html>
<html lang="en-US">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVRGZN4NKF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PVRGZN4NKF');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="Main Street UMC Abbeville's (MSUMC) Website">
  <meta name="keywords" content="msumc, MSUMC, Main Street, UMC, Abbeville, SC, Church">
  <link rel="shortcut icon" href="/static/img/favicon.png">

  <!-- CSS only -->
  <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">

  <title>{{ site.title }}</title>
</head>
<body>
  {% include navbar.html %}

  <main class="container">
    <div class="row">
      <div class="col-lg-8 col-xl-9">
        {{ content | safe }}
      </div>
      <aside class="col-lg-4 col-xl-3 d-lg-block d-none">
        {% include sidebar.html %}
      </aside>
    </div>
  </main>

  {% include footer.html %}

  <!-- Bootstrap -->
  <script src="/static/js/vendor/bootstrap.min.js"></script>
  <script src="/static/js/vendor/popper.min.js"></script>

  <script src="/static/js/script.js"></script>
</body>
</html>
