:root {
  --navbar-height: 100px;
}

main {
  min-height: 90vh;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card-body h1,
.card-body h2,
.card-body h3,
.card-body h4,
.card-body h5,
.card-body h6 {
  margin: 0;
  margin-bottom: 8px;
}

.card-body p {
  margin-bottom: 0;
}

em, strong {
  font-family: "Oswald", serif;
}

strong {
  font-weight: 700; 
}

main#content {
  min-height: calc(100vh - var(--navbar-height));
}
 
code * {
  font-family: 'Ubuntu Mono', Courier, monospace !important;
}

code {
  padding: .2em;
}

code.hljs {
  border: 1px solid #ccc;
  border-radius: 4px;
}

a {
  text-decoration: underline;
}

#navigation {
  min-height: var(--navbar-height);
  background: white;
}

#navigation a,
a.btn {
  text-decoration: none;
}

.hljs * {
  font-size: 1rem;
}

.required::after {
  color: salmon;
  content: " *";
}

.navbar-brand img {
  height: 100px;
}
#sidebar_icon {
  height: 75px;
}

.staff-picture {
  width: 100%;
  height: 325px;
  object-fit: cover;
}